@{
    ViewBag.Title = "Index (jQuery)";
}

<h2>@ViewBag.Title</h2>

<div>
    <b>Title:</b>
    <span id="titleText"></span>
    <br />
    <b>Artist:</b>
    <span id="artistText"></span>
    <br />
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var title = 'Chicken Dance';
        var artist = 'Werner Thomas';

        $('#titleText').text(title);
        $('#artistText').text(artist);
    });
</script>
